<!DOCTYPE html>

<html>
    <head>
        <title>Log-In</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylePersonale.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <!-- inizio barra in alto -->
        <div class="tm-header">
            <div class="container-fluid">
                <div class="tm-header-inner">                    
                    <div class="tm-logo-img-container">
                        <img src="FLAK_logo.png" alt="logo" style="display: none"/>
                    </div>
                    <!-- navbar -->
                    <nav class="navbar tm-main-nav">

                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="colapse" data-target="#tmNavbar" onclick="toggleMenu('tmNavbar')">
                            &#9776;
                        </button>

                        <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active">
                                    <a href="homepage.html" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="catalogo.html" class="nav-link">Catalogo</a>
                                </li>
                                <li class="nav-item">
                                    <a href="login.html" class="nav-link">Log-in</a>
                                </li>
                                <li class="nav-item">
                                    <a href="registrati.html" class="nav-link">Registrati</a>
                                </li>
                            </ul>                        
                        </div>

                    </nav>  

                </div>                                  
            </div>            
        </div>
        <!-- fine barra in alto -->
        <br>
        <!-- inizio zona di accesso-->

        <div class="margin-t-x-large margin-b-40 text-center ">
            <div class="container-big auto-margin-lr pad-lr-large">
                <h2 class="text-center margin-b-40 margin-t-small text-gold text-large">Frequently Asked Questions</h2>
                <ol class="text-left">
                    <li class="text-gold text-large">
                        Domanda?
                        <p class="margin-b-20 text-mid text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut ante volutpat,
                            euismod arcu vel, rhoncus nibh. Nam fermentum erat at erat pharetra, in aliquet
                            ante placerat. In bibendum ligula eros, in aliquam velit sollicitudin non.
                            Duis luctus faucibus justo nec porttitor. Mauris vitae libero nibh. Mauris facilisis enim
                            rhoncus turpis facilisis ultricies. Sed turpis odio, semper a nisi at, imperdiet placerat velit.
                            Fusce a sodales neque, quis auctor neque.
                        </p>
                    </li>
                    <li class="text-gold text-large">
                        Domanda?
                        <p class="margin-b-20 text-mid text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut ante volutpat,
                            euismod arcu vel, rhoncus nibh. Nam fermentum erat at erat pharetra, in aliquet
                            ante placerat. In bibendum ligula eros, in aliquam velit sollicitudin non.
                            Duis luctus faucibus justo nec porttitor. Mauris vitae libero nibh. Mauris facilisis enim
                            rhoncus turpis facilisis ultricies. Sed turpis odio, semper a nisi at, imperdiet placerat velit.
                            Fusce a sodales neque, quis auctor neque.
                        </p>
                    </li>
                    <li class="text-gold text-large">
                        Domanda?
                        <p class="margin-b-20 text-mid text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut ante volutpat,
                            euismod arcu vel, rhoncus nibh. Nam fermentum erat at erat pharetra, in aliquet
                            ante placerat. In bibendum ligula eros, in aliquam velit sollicitudin non.
                            Duis luctus faucibus justo nec porttitor. Mauris vitae libero nibh. Mauris facilisis enim
                            rhoncus turpis facilisis ultricies. Sed turpis odio, semper a nisi at, imperdiet placerat velit.
                            Fusce a sodales neque, quis auctor neque.
                        </p>
                    </li>
                </ol>
            </div>
        </div>

        <!-- fine zona di accesso-->
        <!-- inizio footer -->
        <footer>
            <div class="contenitore-flex text-white">
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Chi siamo</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Quick Links</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Customer Care</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </footer>
        <script src="funzioni.js"></script>
    </body>
</html>