<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="../css/stylePersonale.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/funzioni.js"></script>
    </head>
    <body class="sfondo-1">
        <div class="tm-header">
            <div class="container-fluid">
                <div class="tm-header-inner">                    
                    <div class="tm-logo-img-container">
                        <img src="../files/FLAK_logo.png" alt="logo" style="display: none"/>
                    </div>
                    <!-- navbar -->
                    <nav class="navbar tm-main-nav">

                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="colapse" data-target="#tmNavbar" onclick="toggleMenu('tmNavbar')">
                            &#9776;
                        </button>

                        <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active">
                                    <a href="homepage.html" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="catalogo.html" class="nav-link">Catalogo</a>
                                </li>
                                <li class="nav-item">
                                    <a href="login.html" class="nav-link">Log-in</a>
                                </li>
                                <li class="nav-item">
                                    <a href="registrati.html" class="nav-link">Registrati</a>
                                </li>
                            </ul>                        
                        </div>

                    </nav>  

                </div>                                  
            </div>            
        </div>

        <div class="tm-home-img-container">
            <img src="../files/Salotto.png" alt="Immagine di un salotto" style="display: none">
        </div>

        <div class="text-center margin-t-x-small-neg">
            <a href="catalogo.html" class="tm-btn text-black"><strong>VISUALIZZA CATALOGO</strong></a>
        </div>

        <div class="text-center text-white margin-t-mid">
            <h1 class="text-x-large">
                PROPRIETA' IN EVIDENZA
            </h1>
        </div>
        <center>
            <div class="contenitore-flex">
                <div class="colonna text-center sfondo-marrone text-white">
                    <!-- Rappresentazione offerta in homepage-->
                    <h2 class="margin-t-x-small"><strong>Appartamento: Bellavista</strong></h2>
                    <div class="offerta ">
                    <div class="fill pad-lr-large">
                        <img src="../files/Salotto catalogo.png" alt="Immagine" class="bord-rad-lg" style="width:100%"/>
                    </div>
                        <br><br>
                    <div>
                            <div>
                                <div>
                                    Dettagli:
                                    <br><br>
                                    <ul class="servizi">
                                        <li>Servizio 1</li>
                                        <li>Servizio 2</li>
                                        <li>Servizio 3</li>
                                        <li>Servizio 4</li>
                                        <li>Servizio 5</li>
                                        <li>Servizio 6</li>
                                        <li>Servizio 7</li>
                                        <li>Servizio 8</li>
                                        <li>Servizio 9</li>
                                        <li>Servizio 10</li>
                                    </ul>
                                </div>
                            </div>
                        
                    </div>
                </div>
                </div>
                <div class="colonna text-center sfondo-marrone text-white">
                    <h2 class="margin-t-x-small"><strong>Appartamento 2</strong></h2>
                </div>
                <div class="colonna text-center sfondo-marrone text-white">
                    <h2 class="margin-t-x-small"><strong>Appartamento 3</strong></h2>
                </div>
            </div>
        </center>
        <div class="text-center margin-t-small">
            <a href="catalogo.html" class="tm-btn text-black"><strong>SEE MORE</strong></a>
        </div>

        <div class="text-center text-white margin-t-mid">
            <h1 class="text-x-large">
                TOP LOCAZIONI
            </h1>
        </div>

        <center>
            <div class="contenitore-flex margin-b-40">
            <div class="colonna text-center sfondo-grigio text-white">
                <h2 class="margin-t-x-small"><strong>Città 1</strong></h2>
            </div>
            <div class="colonna text-center sfondo-grigio text-white">
                <h2 class="margin-t-x-small"><strong>Città 2</strong></h2>
            </div>
            <div class="colonna text-center sfondo-grigio text-white">
                <h2 class="margin-t-x-small"><strong>Città 3</strong></h2>
            </div>
        </div>
        </center>
    
        <div class="contenitore-flex">
            <div class="fill display-img" style="width:50%">
                <img src="../files/Lavoro di gruppo.png" alt="Immagine" style="width:100%"/>
            </div>
            <div class="text-center sfondo-grigio-chiaro">
                <h1 class="margin-t-mid text-x-large"><strong>ABOUT US</strong></h1>
                <p class="paragrafo-grande">
                    FLAK è il mercato con la più ampia selezione di appartamenti in Italia.
                     FLAK combina prezzo, destinazione, date e servizi per trovare la sistemazione perfetta 
                     per qualsiasi studente. Fondata nel 2022, FLAK gestisce siti Web locali 
                     in tutte le città d'Italia.
                </p>
            </div>
        </div>
        <div class="contenitore-flex">
            <div class="text-center sfondo-marrone-chiaro">
                <h1 class="margin-t-mid text-x-large"><strong>OUR MISSION</strong></h1>
                <p class="paragrafo-grande">
                FLAK è stata fondata nel 2022 ad Ancona, in Italia, da quattro studenti d’ingegneria
                con la missione di aiutare gli studenti di tutte le città d'Italia a trovare una casa
                facilmente e in breve tempo. Grazie al nostro professore A.C che ci ha affidato
                questo progetto, il nostro obiettivo è espandere il nostro servizio in altre città e paesi.
                </p>
            </div>
            <div class="fill display-img" style="width:50%">
                <img src="../files/Lavoro di gruppo.png" alt="Immagine" style="width:110%"/>
            </div>
        </div>
        <footer>
            <div class="contenitore-flex text-white">
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Chi siamo</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Quick Links</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Customer Care</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </footer>
    
    </body>
</html>
