<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Catalogo</title>
        <link rel="stylesheet" href="stylePersonale.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ asset('js/funzioni.js') }}"></script>
    </head>
    <body>
        <div class="tm-header">
            <div class="container-fluid">
                <div class="tm-header-inner">                    
                    <div class="tm-logo-img-container">
                        <img src="FLAK_logo.png" alt="logo" style="display: none"/>
                    </div>
                    <!-- navbar -->
                    <nav class="navbar tm-main-nav">

                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="colapse" data-target="#tmNavbar" onclick="toggleMenu('tmNavbar')">
                            &#9776;
                        </button>

                        <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a href="Homepage.html" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="catalogo.html" class="nav-link">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a href="catalogo.html" class="nav-link">Catalogo</a>
                                </li>
                                <li class="nav-item">
                                    <a href="catalogo.html" class="nav-link">Messaggi</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="login.html" class="nav-link">I miei alloggi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="registrati.html" class="nav-link">Log-out</a>
                                </li>
                            </ul>                        
                        </div>
                    </nav>  

                </div>                                  
            </div>            
        </div>
        <br>

        <div class="margin-t-x-large margin-b-40 contenitore-flex-2">

            <div class="container-big margin-lr pad-lr-mid">
                <h1 class="text-center text-gold">I miei alloggi</h1>
<!--                Zona aggiungi alloggio e visualizza opzionati-->
                <div class="contenitore-flex-2">
                    <div class="contenitore-flex-2 justify-left auto-margin-r pad-lr-mid margin-b-15">
                        <a href="" class="tm-btn text-white "><h4 class="pad-tb-x-small">Visualizza solo alloggi opzionati</h4></a>
                    </div>
                    <div class="contenitore-flex-2 justify-right auto-margin-l pad-lr-mid margin-b-15">
                        <h2 class="justify-right"><a class="pad-lr-large tm-btn tm-btn-gray text-white" href="alloggio_locatore.html">+</a></h2>
                    </div>
                </div>
<!--                Fine zona aggiungi alloggio e visualizza opzionati-->
                <div class="offerta contenitore-flex">
                    <div class="img-catalogo pad-r-large">
                        <img src="Salotto catalogo.png" alt="Immagine" class="bord-rad-lg" style="width:100%"/>
                    </div>
                    <div>
                        <h2 class='margin-b-15 text-center'><a>Appartamento: Bellavista</a></h2>
<!--                Zona richieste e assegna alloggio-->
                        <div class="contenitore-flex">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <div class="tm-btn tm-btn-gray text-white no-select nav-link margin-b-15">10 richieste</div>
                                </li>
                                <li class="nav-item active">
                                    <a href="catalogo.html" class="tm-btn nav-link margin-b-15">Assegna</a>
                                </li>
                            </ul>
                        </div>
<!--                Fine zona richieste e assegna alloggio-->
                        <div class="contenitore-flex">
                            <div>
                                <div>
                                    Dettagli:
                                    <br><br>
                                    <ul class="servizi">
                                        <li>Servizio 1</li>
                                        <li>Servizio 2</li>
                                        <li>Servizio 3</li>
                                        <li>Servizio 4</li>
                                        <li>Servizio 5</li>
                                        <li>Servizio 6</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="offerta contenitore-flex">
                    <div class="img-catalogo pad-r-large">
                        <img src="Salotto.png" alt="Immagine" class="bord-rad-lg" style="width:100%"/>
                    </div>
                    <div>
                        <h2 class='margin-b-15 text-center'><a>Appartamento: Bellavista</a></h2>
                        <div class="contenitore-flex">
                            <ul class="nav navbar-nav">
                                <li class="nav-item ">
                                    <div class="tm-btn tm-btn-gray text-white no-select nav-link margin-b-15">10 richieste</div>
                                </li>
                                <li class="nav-item active ">
                                    <a href="catalogo.html" class="tm-btn nav-link margin-b-15">Assegna</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contenitore-flex">
                            <div>
                                <div>
                                    Dettagli:
                                    <br><br>
                                    <ul class="servizi">
                                        <li>Servizio 1</li>
                                        <li>Servizio 2</li>
                                        <li>Servizio 3</li>
                                        <li>Servizio 4</li>
                                        <li>Servizio 5</li>
                                        <li>Servizio 6</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="offerta contenitore-flex">
                    <div class="img-catalogo pad-r-large">
                        <img src="Immagine appartamento.jpg" alt="Immagine" class="bord-rad-lg" style="width:100%"/>
                    </div>
                    <div>
                        <h2 class='margin-b-15 text-center'><a>Appartamento: Bellavista</a></h2>
                        <div class="contenitore-flex">
                            <ul class="nav navbar-nav">
                                <li class="nav-item ">
                                    <div class="tm-btn tm-btn-gray text-white no-select nav-link margin-b-15">10 richieste</div>
                                </li>
                                <li class="nav-item active ">
                                    <a href="catalogo.html" class="tm-btn nav-link margin-b-15">Assegna</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contenitore-flex">
                            <div>
                                <div>
                                    Dettagli:
                                    <br><br>
                                    <ul class="servizi">
                                        <li>Servizio 1</li>
                                        <li>Servizio 2</li>
                                        <li>Servizio 3</li>
                                        <li>Servizio 4</li>
                                        <li>Servizio 5</li>
                                        <li>Servizio 6</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="offerta contenitore-flex">
                    <div class="img-catalogo pad-r-large">
                        <img src="Salotto catalogo.png" alt="Immagine" class="bord-rad-lg" style="width:100%"/>
                    </div>
                    <div>
                        <h2 class='margin-b-15 text-center'><a>Appartamento: Bellavista</a></h2>
                        <div class="contenitore-flex ">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <div class="tm-btn tm-btn-gray text-white no-select nav-link margin-b-15">10 richieste</div>
                                </li>
                                <li class="nav-item active">
                                    <a href="catalogo.html" class="tm-btn nav-link margin-b-15">Assegna</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contenitore-flex">
                            <div>
                                <div>
                                    Dettagli:
                                    <br><br>
                                    <ul class="servizi">
                                        <li>Servizio 1</li>
                                        <li>Servizio 2</li>
                                        <li>Servizio 3</li>
                                        <li>Servizio 4</li>
                                        <li>Servizio 5</li>
                                        <li>Servizio 6</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <div class="contenitore-flex text-white">
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Chi siamo</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Quick Links</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Customer Care</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="margin-t-mid margin-b-15">
                    <h4 class="margin-b-20">Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </footer>
        <script src="funzioni.js"></script>
    </body>
</html>
